@import "templates/includes/normalize";
@import "templates/includes/clearfix";
@import "templates/includes/header";
@import "templates/includes/body-styles";

$font-special:'Raleway',Helvetica Neue, Arial, sans-serif;

@mixin profileText($width) {
	line-height: 1.75;
	background: #DDEBE8;
	width: $width;
	padding: 21.5px 50px;
	float: left;
}

@mixin profileImg($width) {
	background:url('images/myphotos/profile-9-small.jpg');
	background-size: 100%;
	background-position: -20px -40px;
	width: $width;
	margin:0;
	padding:0;
	float: left;
}

@mixin blurb($bkg, $fontsize, $padtop, $padbottom) {
	width: 100%;
	padding: $padtop 0 $padbottom 0;
	background:$bkg;
	font-family: $font-special;
	font-size: $fontsize;
	font-weight: 200;
	color:#CCC;
	text-align: center;
	text-transform: uppercase;
}

@mixin about($width) {
	width: $width;
	padding:25px;
	text-align: center;
	float: left;
}

@mixin gallery($width,$padtop,$padbottom) {
	width: $width;
	padding:$padtop 10px $padbottom 10px;
	float: left;
}

@mixin galleryItem($width) {
	width: $width;
	border-radius: 50%;
}

* {
			box-sizing:border-box;
	}

/* Social media icons in Header */
.hero {
	img {
		width: 30px;
		margin:10px 5px;
	}
	.container {
		margin-top:100px;
	}
}

/*== PROFILE SECTION ==*/
.about,
.gallery {
	padding: 20px 0;
}

.profile {
	width: 100%;
	background: #fff;
	padding:0;
	margin:0;
}
.prSide {
	@include profileText(62%);
}		/* Personal Intro Text */
.prImage {
	@include profileImg(38%);
		img {
			-webkit-opacity:0;
		}
}

.blurb {
	@include blurb(#FFF, 20px, 50px, 50px);
}

/* ABOUT SECTION: 3-PART DIV WITH ICONS */
.about {
	background: rgba(176,196,222,0.5);
	line-height: 1.75;
	padding:50px 0 40px 0;
	color:#FFF;
		img {
			width: 100px;
			padding-bottom:5px;
			-webkit-filter:invert(100%);
		}
		.about1,
		.about2,
		.about3 {
			@include about(33%);
		}
}

.about2 {
	border-left:1px dotted grey;
	border-right:1px dotted grey;
}

/*== GALLERY SECTION ==*/

.galleryTitle {
	@include blurb(#FFF, 20px, 50px, 10px);
}

.gallery1,
.gallery2,
.gallery3 {
	@include gallery(33%, 0, 45px)
}

.gallery4,
.gallery5,
.gallery6 {
	@include gallery(33%, 45px, 45px);
}
.gallery {
	background: #FFF;
	padding: 45px 0 35px 0;
	text-align: center;
		img {
			@include galleryItem(75%);
		}
}

/*== CONTACT SOCIAL MEDIA SECTION ==*/

.contact {
	width: 100%;
	background: rgba(0,0,0,0.1);
	text-align: center;

		.contactSocial {
			width: 62%;
			float: left;
			padding: 67.5px 0;
			background:rgba(255,255,255,0.1);
		}
		.contactForm {
			width: 38%;
			float: left;
			padding: 30px 50px;
			background:#E0D8CE;
		}

		h2 {
			font-size: 18px;
			font-weight: 400;
			color:#FFF;
			text-align: center;
			text-transform: uppercase;
		}
		img {
			width: 50px;
			margin:10px 20px;
		}

		form.contact {
			width: 60%;
			margin: 0 auto;
			padding: 50px 0;
			border-radius: 5px;
			font-family: $font-special;
			font-size: 14px;
			background:none;
		}

		input.firstName,
		input.lastName,
		input.email,
		textarea.message {
			display:block;
			width: 100%;
			color:#E3E3E3;
			margin:0 0 20px 0;
			padding:12px;
			border: 1px solid #EEE;
			border-radius: 2px;
			background:none;
				&:focus {
					border-color: red;
					box-shadow: none;
					outline:none;
				}
		}
.submit {
	display:block;
	width: 100%;
	padding:10px 0;
	font-size: 16px;
	font-weight: 200;
	color:#e3e3e3;
	text-transform: uppercase;
	background: rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
		&:hover {
			background:rgba(255,255,255,0.65);
			border: 1px solid rgba(255,255,255,0.1);			
			color:#333;
		}	
}

/*== FOOTER SECTION (Copyright blurb) ==*/
footer {
	background: rgba(0,0,0,0.75);
	font-size: 14px;
	color: #FFF;
	padding-left:20px;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.clearfix {
	clear:both;
}

/*================
RESPONSIVE
================*/

@media (max-width:1136px) {
	body {
		background: url(images/scenic/trees-1-bw-tablet.jpg);
		background-attachment:scroll;
		background-repeat: no-repeat;
		background-color: #666;
		font-size: 14px;
	}
	.profile {
		padding:45px 0;
	}
	.prSide {
		float:none;
		width: 100%;
		margin: 0 auto;
	}
	.profile img {
		display:block;
		float: none;
		width: 30%;
		margin: 0 auto;
	}
}

@media (max-width:767px) {
	.container {
		width: 90%;
		margin: 0 auto;
	}
	h1 {
		font-size: 40px;
		letter-spacing: 7px;
	}
	.hero h2 {
		font-size: 16px;
		padding:50px 0;
	}
	.hero .container {
		width: 100%;
		margin: 0 auto;
	}
	.profile {
		padding:45px 0;
	}
	.profile img {
		width: 30%;
	}
	.about {
		padding:20px 0;
		margin: 0 auto;
		background: rgba(176,196,222,0.5);
	}
	.about1,
	.about2,
	.about3 {
		float:none;
		width: 85%;
		padding:25px;
		margin: 0 auto;
		border:none;
		text-align: center;
	}
	.contact img {
		width: 30px;
		margin:10px 20px;
	}
	footer {
		font-size: 12px;
	}
}

@media (max-width:480px) {
	body {
		background: url(images/scenic/trees-1-bw-mobile.jpg);
		background-attachment:scroll;
		background-repeat: no-repeat;
		}
		.container {
			width: 90%;
			margin: 0 auto;
		}
		h1 {
			font-size: 25px;
			letter-spacing: 5px;
		}
		h2 {
			font-size: 18px;
		}
		.hero {
			height: 300px;
			margin:150px auto 25px;
		}
		.hero h2 {
			font-size: 14px;
			padding:35px 0;
		}
		.profile {
			padding:45px 0;
		}
		.prSide {
			float:none;
			width: 100%;
			margin: 0 auto;
		}
		.profile img {
			float: none;
			width: 40%;
			margin: 0 auto;
		}
		.about {
			padding:20px 0;
			margin: 0 auto;
			background: rgba(176,196,222,0.5);
		}
		
		.hero img {
			width: 25px;
			margin:10px 5px;
		}
		.contact img {
			width: 25px;
			margin:10px 20px;
		}
		footer {
			font-size: 12px;
		}
	}
}
