<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="../dev/style.css")
body 
	h1 Test file
	h2 Hello there
	h3 jkl; fjads f

	p my cat's breath smells like cat food

	p today is the greatest day i've ever known
