<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Colour Archive
	link(rel="stylesheet", href="../dist/style.css")
	link(href='http://fonts.googleapis.com/css?family=Pinyon+Script|Raleway:400,300,200' rel='stylesheet' type='text/css')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")

body 

	include includes/header

	include includes/blurb
	
	include includes/profile-section

	include includes/gallery-title

	include includes/gallery-section

	include includes/contact-section

	include includes/footer

