<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Colour Archive
	link(rel="stylesheet", href="../dev/style.css")

body 
	header.hero
		h1 Colour Archive
		h2 Elegant Web Solutions
		.container 
		a(href='https://twitter.com/colourarchive' target='_blank')
			img(src='images/icons/twitter-white.png' alt='go to twitter feed')
		a(href='https://www.facebook.com/pammenheimer' target='_blank')
			img(src='images/icons/facebook-icon-white.png' alt='go to facebook page')
		a(href='http://instagram.com/pammooo' target='_blank')
			img(src='images/icons/instagram-white.png' alt='go to Instagram')
		a(href='http://ca.linkedin.com/in/tungpamela' target='_blank')
			img(src='images/icons/linkedin-white.png' alt='go to LinkedIn')
		a(href='http://pinterest.com/colourarchive' target='_blank')
			img(src='images/icons/pinterest-white.png' alt='go to Pinterest')
	
	.profile.clearfix
		.container
			.prSide

				h2 Who is Colour Archive?
				p | 
				span Hi, my name is Pamela Tung.  
					| I am a multi-disciplinary designer, who is committed to creating a web that is more beautiful, yet also more efficient.
				p | My background is in Architecture, having earned an MArch from the University of Toronto, and with previous working experience in the Architecture and Urban Design fields.  In the world of Web Development, my experiences have translated into a growing passion for the way that layers of code are structured, and in building user-friendly and attractive websites.
				p| I am always deriving inspiration from my hobbies, which include cycling, textile and paper crafts, and oggling vintage furniture.  I have a special fondness for natural materials.
				img(src='images/myphotos/profile-8-small.jpg' alt='phot of Pam')

	.about.clearfix
		.container
			.about1
			a(href='mailto:tung.pamela@gmail.com?Subject=Hello%20Pamela' target='_top')
				img(src='images/icons/lightbulb.png' alt='lightbulb image')
			p | Send us an email and get inspired! Whether you are searching for a colour scheme, a web layout, or require full web services, Colour Archive has something to get you moving in the direction you want.
			
			.about2
			a(href='mailto:tung.pamela@gmail.com?Subject=Hello%20Pamela' target='_top')
				img(src='images/icons/slim-cog.png')
			p | We are here to make sure your technical issues are resolved, and to ensure that your working process is as smooth as possible.

			.about3
			a(href='mailto:tung.pamela@gmail.com?Subject=Hello%20Pamela' target='_top')
				img(src='images/icons/slim-heart.png' alt='heart image')
			p | We devote 100% of our attention to every project from start to finish, and prefer to form lasting, collaborative relationships.

	.gallery.clearfix
		.container
			h2 Other Work By Pamela
			.gallery1
				a(href='http://colourarchive.co' target='_blank')
					img(src='images/myphotos/render-2-square.jpg' alt='School Render 1')
			.gallery2 
				a(href='http://colourarchive.co' target='_blank')
					img(src='images/myphotos/render-2-square.jpg' alt='School Render 2')
			.gallery3
				a(href='http://colourarchive.co' target='_blank')
					img(src='images/myphotos/render-3-square.jpg' alt='School Render 3')
			.gallery4
				a(href='http://pamelatung.com' target='_blank')
					img(src='images/myphotos/photo-1.jpg' alt='A photo of rocks')
			.gallery5
				a(href='http://pamelatung.com' target='_blank')
					img(src='images/myphotos/photo-2.jpg' alt='Feeling the air')
			.gallery6
				a(href='http://pamelatung.com' target='_blank')
					img(src='images/myphotos/print-1.jpg' alt='linocut reduction print - kunsthal')

	.contact.clearfix
		.container
			h2 Follow me on social media:
			a(href='https://twitter.com/colourarchive' target='_blank')
				img(src='images/icons/twitter-white.png' alt='go to Twitter')
			a(href='https://www.facebook.com/pammenheimer' target='_blank')
				img(src='images/icons/facebook-icon-white.png' alt='go to facebook page')
			a(href='http://instagram.com/pammooo' target='_blank')
				img(src='images/icons/instagram-white.png' alt='go to Instagram')
			a(href='http://ca.linkedin.com/in/tungpamela' target='_blank')
				img(src='images/icons/linkedin-white.png' alt='go to LinkedIn')
			a(href='http://pinterest.com/colourarchive' target='_blank')
				img(src='images/icons/pinterest-white.png' alt='go to Pinterest')

	footer.clearfix
		.container
			p |&copy; Colour Archive 2014

