.about.clearfix
	.container
		.about1
			a(href='mailto:tung.pamela@gmail.com?Subject=Hello%20Pamela' target='_top')
				img(src='images/icons/lightbulb.png' alt='lightbulb image')
			p Send us an email and get inspired! Whether you are searching for a colour scheme, a web layout, or require full web services, Colour Archive has something to get you moving in the direction you want.
		
		.about2
			a(href='mailto:tung.pamela@gmail.com?Subject=Hello%20Pamela' target='_top')
			img(src='images/icons/slim-cog.png')
			p We are here to make sure your technical issues are resolved, and to ensure that your working process is as smooth as possible.

		.about3
			a(href='mailto:tung.pamela@gmail.com?Subject=Hello%20Pamela' target='_top')
			img(src='images/icons/slim-heart.png' alt='heart image')
			p We devote 100% of our attention to every project from start to finish, and prefer to form lasting, collaborative relationships.