.gallery.clearfix
	.container
		//- h2 Other Work By Pamela
		.gallery1
			a(href='http://colourarchive.co' target='_blank')
				img(src='images/myphotos/render-2-square.jpg' alt='School Render 1')
		.gallery2 
			a(href='http://colourarchive.co' target='_blank')
				img(src='images/myphotos/render-2-square.jpg' alt='School Render 2')
		.gallery3
			a(href='http://colourarchive.co' target='_blank')
				img(src='images/myphotos/render-3-square.jpg' alt='School Render 3')
		.gallery4
			a(href='http://pamelatung.com' target='_blank')
				img(src='images/myphotos/photo-1.jpg' alt='A photo of rocks')
		.gallery5
			a(href='http://pamelatung.com' target='_blank')
				img(src='images/myphotos/photo-2.jpg' alt='Feeling the air')
		.gallery6
			a(href='http://pamelatung.com' target='_blank')
				img(src='images/myphotos/print-1.jpg' alt='linocut reduction print - kunsthal')