header.hero
	h1 Colour Archive
	h2 Elegant Web Solutions
	.container
		a(href='https://twitter.com/colourarchive' target='_blank')
			img(src='images/icons/twitter-white.png' alt='go to twitter feed')
		a(href='https://www.facebook.com/pammenheimer' target='_blank')
			img(src='images/icons/facebook-icon-white.png' alt='go to facebook page')
		a(href='http://instagram.com/pammooo' target='_blank')
			img(src='images/icons/instagram-white.png' alt='go to Instagram')
		a(href='http://ca.linkedin.com/in/tungpamela' target='_blank')
			img(src='images/icons/linkedin-white.png' alt='go to LinkedIn')
		a(href='http://pinterest.com/colourarchive' target='_blank')
			img(src='images/icons/pinterest-white.png' alt='go to Pinterest')