.profile.clearfix
	.prSide

		h2 Who is Colour Archive?
		p My name is Pamela Tung.  I am a multi-disciplinary designer who is committed to creating a web that is more beautiful.
		p My background is in Architecture, having earned an MArch from the University of Toronto, and with previous working experience in the Architecture and Urban Design fields.  In the world of Web Development, my experiences have translated into a growing passion for the way that layers of code are structured, and in building user-friendly and functional websites.
		p I am always deriving inspiration from my hobbies, which include cycling, textile and paper crafts, and oggling vintage furniture.  I have a special fondness for natural materials.
	
	.prImage		
		img(src='images/myphotos/profile-8-small.jpg' alt='photo of Pam')